body {
    background-color:#f4e1e3;
    font-family: "Nunito";
}

p {
    font-size: 20px;
    font-weight: 400;
}

button {
    background-color: #f4e1e3;
    border: 2px solid #9b7960;
    outline: 2px solid #9b7960;
    outline-offset: -2px;
    text-align: center;
    font-family: "Nunito";
    font-size: 20px;
    font-weight: 800;
    color: #513721;
    /* padding: 20px 80px; */
    width: 250px;
    height: 70px;
    border-radius: 30px;
    margin: 5px;
    transition: outline-offset 50ms ease;
}

button:hover {
    outline-offset: 3px;
}

.aboutme_content {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    background-color:#f8d9df;
    padding: 25px;
}

.bear_button {
    padding: 0%;
    margin-left: 10px;
    border: 0px;
    outline: 0px;
    outline-offset: 0px;
    text-align: center;
}

.nav_button {
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.socials {
    color:#9b7960;
    font-size: 25px;
    margin: 8px;
    text-align: center;
}

.link_buttons {
    text-align: center;
    margin-top: 40px;
}

/* font css */
.nunito-light {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.nunito-regular {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.nunito-bold {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.nunito-medium {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.cormorant-garamond-light {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
}
  
.cormorant-garamond-regular {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
}
  
.cormorant-garamond-medium {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
}
  
.cormorant-garamond-semibold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
}
  
.cormorant-garamond-bold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
}
  
.cormorant-garamond-light-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: italic;
}
  
.cormorant-garamond-regular-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
}
  
.cormorant-garamond-medium-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: italic;
}
  
.cormorant-garamond-semibold-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: italic;
}
  
.cormorant-garamond-bold-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: italic;
}
  